{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~root": "./",
          "~app": "./src",
          "~api": "./src/api",
          "~graphql": "./src/lib/graphql"
        }
      }
    ]
  ]
}
