{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~root": "./",
          "~app": "./src",
          "~api": "./src/api",
          "~lib": "./src/lib",
          "~graphql": "./src/lib/graphql",
          "~generated": "./src/_generated",
          "~design": "./src/design",
          "~components": "./src/components"
        }
      }
    ]
  ]
}
